//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

//Colors
$primary: #F26A4B;
$middle-primary: #FF8A65;
$light-primary:#FFBB93;
$body-background-color: #FAFAFA;
$white: #FFFF;
$light-grey: #FAFAFA;
$medium-grey: #f3f3f4;
$border-color: #E2E5E6;
$dark-primary:#718792;
$color-fonts:#455A64;