//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

//Colors
$primary: #F26A4B;
$light-primary:#FFBB93;
$body-background-color: #FAFAFA;
$border-color:#E2E5E6;
$dark-primary:#718792;