@import '../../sass/variables';


$color-selected: #2aa1c0;
$color-box: #ccc;
$color-grey: lighten(#000, 40);
$lightergrey-color: #e6e6e6;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  //transform: translateY(50%);
  min-height: 80vh;
}

.form {
  width: 20vw;
  background-color: #FFFFFF;
  padding: 4rem;
  border-radius: 10px;
  border: 1px solid $border-color;
  max-width: 50%;
  font-size: 0.9rem;

  input {
    margin-bottom: 2rem;
    border-radius: 10px;
    border: 0.1em solid $border-color;
    padding: 15px 25px;
    box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, .05);
    background-color: $light-grey;

    &:hover {
      border: 0.1em solid $dark-primary;
      transition: 0.2s;
    }
  }

  p {
    font-size: 12px;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: right;
  }

  button {
    padding: 15px 25px;
    font-size: 14px;
  }

  label {

  }

  textarea {

  }

  select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 35px 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: $lightergrey-color;
    color: $color-grey;
    appearance: none;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    &::-ms-expand {
      display: none; // pour IE
    }
    &:hover,
    &:focus {
      background: lighten($lightergrey-color, 2%);
    }
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  // Skin mark
  &:after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 70%;
    width: 30px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    pointer-events: none;
    color: $color-grey;
  }

}