body {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*.App {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 0 40px;*/
/*}*/