@import '../../sass/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  //transform: translateY(50%);
  min-height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $white;
  padding: 4rem;
  border-radius: 10px;
  border: 1px solid $border-color;
  max-width: 20vw;
  min-width: 230px;
  font-size: 0.9rem;

  label {
    font-family: 'Open Sans SemiBold', sans-serif;
    margin-bottom: 0.3rem;
  }

  input {
    margin-bottom: 1.3rem;
    border-radius: 10px;
    border: 0.15em solid transparent;
    padding: 0.75rem;
    box-shadow: inset 0 .0625em .125em rgba(10, 10, 10, .05);
    background-color: $medium-grey;
    font-family: inherit;

    &:hover {
      border: 0.15em solid $primary;
      transition: 0.5s;
      background-color: $white;
    }

    &:focus {
      border: 0.15em solid $primary;
      transition: 0.5s;
      background-color: $white;
    }

  }

  a {
    font-size: 0.9rem;
    margin-top: 1rem;
    text-align: right;
    text-decoration: underline;
    color: $color-fonts;
  }

  button {
    padding: 15px 25px;
    font-size: 14px;
  }
}







