@import '../../sass/variables';
@import 'signForm';

.form {
  border-radius: 0 10px 10px 0;
  padding: 3rem 4rem;

  h2 {
    margin-bottom: 2rem;
  }

  label {

  }

}

.signUpContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: $color-fonts;

  img {
    width: auto;
    height: 50.4rem;
    border: 1px solid $border-color;
    border-radius: 10px 0 0 10px;
  }

  button {
    margin-top: 1rem;
  }
}