.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #FFFFFF;
    padding: 2rem 4rem;
    border-radius: 10px;
    border: 1px solid #E2E5E6;
    max-width: 50%;
    font-size: 14px;
}

.form input {
    margin-bottom: 2rem;
    border-radius: 5px;
    border: 0.1em solid #718792;
    padding: 10px 25px;
}

.form button {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F26A4B;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
}

.form button:hover {
    background-color: #FFBB93;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.form p {
    font-size: 12px;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: right;
}
